.sensorCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sensorHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sensorName {
  font-size: 14px;
}

.unit {
  color: #6e6e6e;
  font-size: 12px;
}

.sensorValue {
  font-size: 32px;
  font-weight: 600;
}

.disabledValue {
  color: #6e6e6e;
}